pip>=25.2
# Core app
streamlit

# Data processing
pandas
numpy

# Machine learning
scikit-learn
joblib

# Visualization
matplotlib
seaborn
plotly

# Utilities
scipy
pillow
python-dateutil

#model 
tabpfn==2.1.3
torch>=2.0.0